torch >= 1.2.0
pytorch-transformers >= 1.1.0
tabulate >= 0.8.3
nltk >= 3.4.3
numpy >= 1.16.4
tqdm == 4.38.0
dill >= 0.2.9
hyperopt == 0.1.2
pandas == 0.24.2
networkx >= 2.3
h5py >= 2.9.0
coverage >= 4.5.3
codecov >= 2.0.15
pytest >= 4.6.3
pytest-cov >= 2.7.1
flake8 >= 3.7.7
flake8_docstrings >= 1.3.0
pydocstyle == 2.1